.page_navi {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.page_navi A {
	BORDER-RIGHT: #0086DE 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #0086DE 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #0086DE 1px solid; COLOR: #0086DE; PADDING-TOP: 2px; BORDER-BOTTOM: #0086DE 1px solid; BACKGROUND-COLOR: #fff; TEXT-DECORATION: none
}
.page_navi A:link {
	BORDER-RIGHT: #0086DE 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #0086DE 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #0086DE 1px solid; COLOR: #0086DE; PADDING-TOP: 2px; BORDER-BOTTOM: #0086DE 1px solid; BACKGROUND-COLOR: #fff; TEXT-DECORATION: none
}
.page_navi A:visited {
	BORDER-RIGHT: #0086DE 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #0086DE 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #0086DE 1px solid; COLOR: #0086DE; PADDING-TOP: 2px; BORDER-BOTTOM: #0086DE 1px solid; BACKGROUND-COLOR: #fff; TEXT-DECORATION: none
}
.page_navi A:active {
	BORDER-RIGHT: #0086DE 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #0086DE 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #0086DE 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #0086DE 1px solid; BACKGROUND-COLOR: #0086DE; TEXT-DECORATION: none
}
.page_navi A:hover {
	BORDER-RIGHT: #0086DE 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #0086DE 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #0086DE 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #0086DE 1px solid; BACKGROUND-COLOR: #0086DE; TEXT-DECORATION: none
}
.page_navi SPAN.current {
	BORDER-RIGHT: #0086DE 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #0086DE 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #0086DE 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #0086DE 1px solid; BACKGROUND-COLOR: #0086DE
}
