html {
	scrollbar-face-color: #CECECE;
	scrollbar-shadow-color: #6B6B6B;
	scrollbar-highlight-color: #F8F8F8;
	scrollbar-3dlight-color: #8A8A8A;
	scrollbar-darkshadow-color: #8A8A8A;
	scrollbar-track-color: #8A8A8A;
	scrollbar-arrow-color: #215A8C;
}
body {
margin: 0px 0px 0px 0px;
}
td,th {
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #000000;
}
form{ 
	display: inline;
	margin: 0; /* removes mystery form tag gapping */ 
	padding: 0; /* removes mystery form tag gapping */
	}
input,
textarea,
select{
	background: #F4F5F7;
	border: 1px solid #808080;
	color: #000;
	font-family: Tahoma, Arial;
	font-size: 12px;
	margin: 1px;
	padding: 1px;
	vertical-align: middle;
	}
img { border : 0px; }
.main_table {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #48575A;
	border-left-color: #48575A;
}
a {
	font-size: 11px;
	color: #003333;
}
a:link {
	text-decoration: none;
	color: #006699;
}
a:visited {
	text-decoration: none;
	color: #006699;
}
a:hover {
	text-decoration: none;
	color: #FF6600;
}
a:active {
	text-decoration: none;
	color: #0066FF;
}
.nav_tittle {
	color: #FFFFFF;
	font-weight: bold;
}
.nav_tittle :link {
	color: #FFFFFF;
	font-weight: bold;
}
.nav_tittle :visited {
	color: #FFFFFF;
	font-weight: bold;
}
.tittle {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #003366;
	font-weight: bold;
	color: #003333;
	text-decoration: none;
	font-size: 12px;
}
.br_sp {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #003366;
	color: #003333;
	text-decoration: none;
	font-size: 11px;
}
.maintittle {
	font-size: 16px;
	font-weight: bold;
	color: #003300;
}
.row_tittle {
	background-color: #8AA1A6;
	height:25px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}
.row {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #003366;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #003366;
	color: #003333;
	text-decoration: none;
	font-size: 12px;
}
.row1 {
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #003366;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #003366;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #003366;
	color: #003333;
	text-decoration: none;
	font-size: 12px;
}
.sub_row {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #003366;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #003366;
	color: #FF6C00;
	text-decoration: none;
	font-size: 12px;
	background-color: #F4ECE0;
}
.sub_row1 {
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #003366;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #003366;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #003366;
	color: #FF6C00;
	text-decoration: none;
	font-size: 12px;
	background-color: #F4ECE0;
}